svg {
  background-color: $white;
  vertical-align: text-top;

  .tick {
    line {
      stroke: #dcdcd8;
    }

    text {
      fill: #635F5D;
    }
  }

  .mark {
    &--rect {
      fill: $marks;
    }
    &--circular {
      fill: $marks;
      opacity: 0.2;
    }
  }

  .axis-label {
    font-size: 2em;
    fill: #635F5D;
  }
}