.homepage {
  padding-top: 15%;
  .links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
    margin: 6rem auto;

    a {
      text-align: center;
      color: $black;
      font-family: "Plus Jakarta Sans", sans-serif;
      font-size: 1.5rem;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: 0.1125rem;
      text-transform: uppercase;
      text-decoration: underline;
    }
  }
}
