.App {
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  background-color: $aliceblue;
  height: 100vh;
  padding-top: 3rem;
  color: $black;

  .content {
    position: relative;
    //margin-left: 290px; //left drawer width: 240px, defined in PermanentDrawerLeft module

    .viz_info {
      margin-bottom: 3rem;
    }

    .data_source {
      position: absolute;
      top: .5rem;
      right: 5rem;
      padding: .5rem 1rem;
      border: $black solid 1px;
      color: $black;
      text-decoration: none;

      &:hover {
        color: $white;
        background-color: $black;
      }
    }
  }
}